html>*{
    font-weight: 600;
}

body{
    margin: 0;
}

header{
    background: url('./pic.jfif');
    background-size: cover;
    background-position: center center;
    margin: 0;
    height: 30vh;
    padding: .5rem;
    border: .01rem black solid;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-basis: content;
    justify-content: center;
    align-items: center;
}


header>*{
    margin: 0;
    color: aliceblue;

}

.all_article > *{
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.all_article article{
    
    text-decoration: inherit ;
    color: white;
    border: 0.05rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 3px rgba(204, 212, 241, 0.8);
    box-shadow: 0 0 32px 12px rgba(0,0,0,0.3);
    background-color: rgba(12, 33, 107, 0.8);
    border-radius: 10px;
    padding: .5rem;
    margin: 0 30vw;
    margin-top: 10vh;
    cursor: pointer;
    flex-basis: content;
    
}

.all_article .art1{
    margin-top: .3rem;
}

@media (min-width:576px) {

    header>*{
        font-size: 900;
    }

    header div{
        border-radius: 1vw;
        background-color: rgba(24, 21, 21, 0.486);
    }

    .content{
        display: block;
    }

    .all_article > *{
        font-size: 1rem;
        margin: 5px;
        width: none;
    }
    
}

@media (max-width:575px) {
    header>*{
        font-size: 900;
    }


    header div{
        border-radius: 1vw;
        background-color: rgba(24, 21, 21, 0.486);
    }

    .all_article > *{
        font-size: .8vw;
        margin: 2px;
        width: none;
    }
}

@media (min-width: 768px) {
    header>*{
        font-size: 600;
    }

    header div{
        background-color: rgba(24, 21, 21, 0.239);
        border-radius: .8vw;
    }

    .all_article > *{
        font-size: 1.5rem;
        margin: 1.5px;
    }

    .all_article h3{
        margin: 0;
        text-align: center;
        font-size: .5vw;
    }
    
}